/* Light Grey Theme Variables */
$theme-color: #d3d3d3; // Light grey for primary theme color
$text-color: #4d4d4d; // Slightly darker grey for all text
$text-color-secondary: #4d4d4d; // Same as primary text color
$text-grey: #4d4d4d; // Same as primary text color
$divider: #e8e8e8; // Very light grey for dividers
$lighter-grey: #e0e0e0; // Lighter grey for backgrounds or elements
$darker-grey: #595959; // Darker grey for contrast
$smoky-white: #4d4d4d; // changed
$heart: #fb866a; // If you want to keep the heart color as is
